@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';





/* @import url('https://fonts.googleapis.com/css2?family=Mirza:wght@400;500;600;700&display=swap'); */
/* @import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
/* @import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap"); */
/* @import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&display=swap"); */

/* @import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap"); */


@layer base {
  input {
    font-size: 16px; 
  }
}

  body{
    overflow-x: hidden;
    font-family: 'Roboto'; 
    font-size: 14px !important; 
  };

#folder {
  width: 100%; /* let width be dynamic */
  height: 100%; /* or inherit based on parent height */
  overflow-y: scroll;
  background: #f5f5f5;
}

#folder::-webkit-scrollbar {
  width: 8px;
}

#folder::-webkit-scrollbar-track {
  background: white;
  border-radius: 4px;
}

#folder::-webkit-scrollbar-thumb {
  background: white;
  border-radius: 4px;
}

#folder::-webkit-scrollbar-thumb:hover {
  background: #555;
}
  
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

[data-sonner-toast] {
  color: white !important;
  font-weight: bold;
  border-radius: 8px;
  padding: 12px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  width: auto !important;
  max-width: 90vw !important; /* Prevent toast from exceeding 90% of viewport width */
  min-width: 200px; /* Ensure minimum width for readability */
  word-break: break-word; /* Ensure long words break to fit */
  overflow-wrap: break-word; /* Support for text wrapping */
}

/* Error Toast */
[data-sonner-toast][data-type="error"] {
  background-color: #ca0e11 !important; /* Red */
}

/* Success Toast */
[data-sonner-toast][data-type="success"] {
  background-color: #089451 !important; /* Green */
}

/* Responsive adjustments for small screens */
@media (max-width: 640px) {
  [data-sonner-toast] {
    padding: 8px; /* Reduce padding for smaller screens */
    /* font-size: 14px; Slightly smaller font size */
    max-width: 65vw !important; /* Tighter width constraint */
    text-align: center;
  }
}